.head{
    width: auto;
    height: 70px;
    background: #03c03c;

}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Устанавливаем z-index, чтобы заголовок был выше других элементов */
    transition: .3s all;
  }
.link_head{
    display: flex;
    color: #ffff;
    padding: 0.75% 50px 0;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    justify-content: space-between;
    transition: all .5s;
}


.herfLink{
    padding-top:0.7em ;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    transition: all 0.5s ease; 
    

}
.herfLink:hover{
    background-size: 100% 2px;
    color: #fffdd0;
    font-size: 20px;

}

.paddHead{
    padding-top:2% ;
}
.headimg{
    display: flex;
}
.imghead{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.userhead{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border:2px solid #fff;
    overflow: hidden;
}
.headots{
    padding-right: 15px;
}

@media screen and (max-width: 768px) {
    .link_head {
        padding: 0.75% 10px 0;
        
    }

    .herfLink {
        padding-top: 0.5em;
    }
    .head {
        width: auto;
        height: 9vh;
        background: #03c03c;
        padding: 2% 2%;
    }
    
}