a {
    -webkit-tap-highlight-color: transparent;
}

.headIndex {
    display: flex;
    padding: 3% 0 0 4%;
}

.headIndex1 {
    display: flex;
    padding: 3% 0 0 4%;
    justify-content: center;
}

.styleFontHead,
.headIndex2 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.headIndex2 {
    padding-top: 3%;
}

.headingIndex {
    display: flex;
    padding-left: 10px;

}

.block_adap {
    height: 60px;
}

.posBlock {
    display: flex;
    justify-content: center;
}

.posBlockfir {
    display: flex;
    justify-content: center;
    height: 75vh;
    padding-top: 2%;
    margin-top: 70px;
}

.block {
    background-color: white;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 20px gainsboro;
    width: 88%;

}

.link_Text {
    padding: 2% 4%;
}

.link_Text2 {
    padding-top: 3%;
}

.text {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Montserrat';
    line-height: 2;
}

.linkPosText {
    text-align: center;
}

body {
    font-size: 16px;
}


.famili {
    font-family: 'Montserrat';
}

/* Стили для хедера */
.head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}

.link_head {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.herfLink {
    font-size: 18px;
}

/* Стили для блока в секции */
.posBlock,
.block {
    width: 100%;
    max-width: 100%;

}

.headIndex,
.headIndex1 {
    padding: 3% 2% 0 4%;
}

.styleFontHead,
.headIndex2 {
    font-size: 20px;
}

/* Стили для текста в блоке */
.link_Text {
    padding: 2% 4%;
}

.text {
    font-size: 16px;
}

.navigation {
    display: none;
}

.blokFeck {
    display: none;
}

.conbalck {
    display: none;
}

.block_nav {
    display: none;
}

.mobtitle {
    display: none;
}


@media screen and (max-width: 1024px) {

    .herfLink {
        font-size: 14px;
        padding: 0;
    }

    .paddHead {
        padding: 0 0 0 0;
    }

    .userhead {
        width: 35px;
        height: 35px;
    }

    .headots {
        height: 90%;
        margin: auto 0;
    }

    .link_head {
        align-items: center;
    }

    .user_profil {
        padding: 4% 0 0 0;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

}

@media screen and (max-width: 900px) {
    .link_head {
        padding: 5px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .headIndex {
        padding: 4% 3% 0px 4%;
    }

    .link_Text {
        padding: 4% 0%;
    }

    .block_adap {
        height: 85px;
    }


    .styleFontHead,
    .headIndex2 {
        font-size: 18px;
        display: block;
        padding-left: 0;
        text-align: center;
    }

    .linkPosText {
        margin: 0 1%;
    }

    .navigation_main {
        position: fixed;
        bottom: 0;
        width: 100%;
        max-width: 100%;
        height: 85px;
        background-color: #03c03c;
        display: flex;
        /* margin: 97.9% 0 0 0 ; */

    }

    .flexMain {
        align-items: end;
    }

    .conbalck {
        display: block;
        background-color: #000;
        height: 2vh;
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
    }

    .block_nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 0 10px;

    }

    .profilImg {
        width: 30px;
        height: 30px;
        width: 100%;
        margin: 0 auto;
    }

    .textNav {
        color: #fff;
        font-size: 8px;
        font-weight: 600;
        text-align: center;
    }

    .profil {
        padding-top: 6px;
        justify-content: center;
    }

    .herfLink {
        display: none;
    }

    .paddHead {
        display: block;
    }

    .herflinkhov {

        width: 60px;
        height: 6.5vh;
        transition: 0.1s;
        text-decoration: none;


    }

    .herflinkhov:hover {
        opacity: 0.1;
        z-index: 1000;
        border-radius: 40px;
        background: #013220;


    }

    .posBlockfir {
        height: 106vh;
    }

    .fullver {
        display: none;
    }

    .mobtitle {
        display: block;
        font-size: 17px;
        font-weight: 400;
    }

    .noac {
        color: #888888;
    }
    .headots{
        padding: 0;
    }
    .userhead{
        width: 45px;
        height: 45px;
    }
    .link_head {
        padding: 0;

    }

    .herfLink {
        padding-top: 0.01%;
        font-size: 12px;
    }

    .head {
        width: auto;
        background: #03c03c;

    }

    .textMain {
        text-align: center;
        margin: 0 1%;
    }

}

@media screen and (max-width: 425px) {
    .userhead{
        width: 35px;
        height: 35px;
    }
    .mobtitle{
        font-size: 14px;
    }
}
