.BlockAva {
    width: 20%;
}

.posvavaprof {
    padding: 10%;
}

.paddBlock {
    padding: 2% 2% 0 2%;
    display: flex;
}

.posBlockdata {
    padding: 1% 0 0 5%;
    width: 100%;
    display: flex;
}

.poslable {
    display: flex;


}

.blockdata {
    padding-left: 1%;
}

.padata {
    padding-bottom: 10px;
}

.btndow {
    padding: 10px;
}

.intbtn {
    border: 0;
    padding: 14px 45px;
    margin: 0.8%;
    background-color: #FFF;
    border-radius: 10px;
    color: #000;
    transition: all .4s;
}

.posExitbtn {
    margin: 5% 1% 1% 1%;
}

.posBlockfir {
    position: relative;
}

.profilBlock {
    height: 700px;
}

.btnBack {
    border: 0;
}

.golovok {
    font-size: 28px;
    font-weight: 600;
    margin: 30px 0 0 5%;


}

.edit {

    margin: 5% 1% 1% 5%;

}

.contenerbnt {
    width: 70%;
}

.userphoto {
    max-width: 100%;
    padding: 10px;
    background-color: #FFF;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #0bda51;
    transition: all .4s;
    box-shadow: 0 0 20px gainsboro;
}

.userphoto:hover {
    background-color: #0bda51;
    border: 2px solid #0bda51;
    color: #fff;
}

.userphoto input[type="file"] {
    display: none;
}

.imgUser {
    width: 30%;
}

.imguserimg {
    width: 100%;
    height: auto; 
    display: block; 
    border-radius: 50%; 
    object-fit: cover;

}

.imguserkab {
    display: flex;
    justify-content: center;
    max-width: 300px;
    height: 300px;
    overflow: hidden;
    border: 2px solid #0bda51;
    border-radius: 100%;
    width: 100%;
    margin: 0 auto;


}

.btnPosImg {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}
.question_herf{
    color: #0bda51;
    transition: all .5s;
}
.question_herf:hover{
    color: #09a73d;
    font-size: 18px;
}
.question{
    padding-top: 20px;
    height: 30px;
    width: auto;

}

@media (max-width: 1440px) {
    .imguserkab {
        height: 250px;
        width: 250px;
    }
}

@media (max-width: 1024px) {
    .imguserkab {
        height: 200px;
        width: 200px;
    }

    .intbtn {
        padding: 10px 41px;
        font-size: 14px;
    }

    .golovok {
        font-size: 24px;
    }

    .btnBack {
        padding: 13px 65px;
    }


}

@media screen and (max-width: 768px) {
    .intbtn {
        padding: 3% 7%;
        margin: 1.2%;
    }

    .imguserkab {
        height: 150px;
        width: 150px;
    }

    .posBlockdata {
        font-size: 14px;
    }
    .paddBlock{
        display: block;
    }
    .posblockimg{
        max-width: 50%;
        margin: 0 auto;
    }
    .imgUser{
        width: 100%;
        margin: 20px 0 ;
    }
    .posBlock, .block{
        height: auto;
    }
    .posExitbtn {
        display: flex;
        justify-content: center;
        margin: 40px auto;
    }
    .otstup_footer {
        height: 80px;
    }
    .profilBlock {
        height: auto;
    }
    


}

@media screen and (max-width: 508px) {
    .userphoto{
        font-size: 14px;
        padding: 7px;
        text-align: center;
    }
    .bntCreateMainAdapt{
        font-size: 14px;
    }
    
    
    .imguserkab {
        height: 200px;
        width: 200px;
    }
    .intbtn{
        font-size: 14px;
    }
    .intbtn {
        font-size: 14px;
    }

    .golovok {
        font-size: 18px;
    }
    .posBlockdata{
        font-size: 14px;
    }
    .btnBack {
        padding: 10px 45px;
        font-size: 14px;
    }
    .profilBlock{
        height: 80%;
    }
    .contenerbnt{
        width: 100%;
    }
    .golovok{
        text-align: center;
    }
    .posblockimg {
        max-width: 100%;
    }
    

}
@media (max-width:365px) {
    .userphoto{
        font-size: 12px;
        padding: 7px;
        text-align: center;
    }

    .imguserkab {
        height: 150px;
        width: 150px;
    }
    .intbtn{
        font-size: 12px;
    }
    .intbtn {
        font-size: 12px;
    }

    .golovok {
        font-size: 14px;
    }
    .posBlockdata{
        font-size: 12px;
    }
    
}
